#chat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 19rem;
    max-height: 50%;
    color: #fff;
    cursor: pointer;
    overflow: scroll;
    transition: max-height 0.4s;
    font-size: 1.2rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#chat-toggle {
    padding: 5px;
    text-align: center;
    background-color: #000120;
    width: 100%;
}

#chat.chat-open {
	height: 20rem;
    max-height: 20rem;
	background-color: #ffffff;
}

#chat-content {
    display: none;

    p, label 
    {
        font-weight: 600;
        margin: 0;
        text-align: center;
        color: #000000;
        font-size: 1.5rem;
    }
    .clickable-row {
        margin-bottom: 5px;
        font-size: 20px;
    }
    input {
        margin: 0px 1rem;
        text-align: center;
        width: calc(100% - 2rem);
    }
    .butt {
        margin-top: 5px;
    }
    .butt.friend {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

#chat.chat-open #chat-content {
    display: block;
    width: 100%;
}

.chat-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10rem;
    max-height: 3rem;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
	transition: max-height 0.4s;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: solid #000000;
	border-right: solid #000000;
	border-top: solid #000000;
	border-width: 2px;
}

.chat-box-toggle {
	border-bottom: solid #000000;
	border-width: 2px;
    padding: 5px;
    text-align: center;
    background-color: red;
    
    span {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
        color:#f14949;
        font-weight: 700;
        font-size: 1rem;
    }
}

.chat-box.chat-box-open {
    max-height: 20rem;
    background-color: #ffffff; 
}

.chat-box-content {
    display: none;
}

.chat-box.chat-box-open .chat-box-content {
    display: block;
    overflow-y: auto;
	overflow-x: hidden;
    max-height: 17rem;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 1rem auto;
}

.list-friends {
    display: inline-block;
    color: #000000;
	font-size: 1.7rem;
    width: 49%;
    margin: 0;
    padding: auto;
    text-align: center;
    box-sizing: border-box;
}

.list-friends.active{
	color: #fff;
	background-color: #2f97dd;
}

.friends-list {
    margin-top: 5px;
    display: flex;
	justify-content: center;
    span {
        color:#f14949;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .name{
        margin-right: 20px;
    }
}
.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: rotate 1s linear infinite ;
    display: block;
    position: absolute;
    right: 8rem;
    top: 8rem;
    animation-delay: 2s;
    animation-fill-mode: both;
    cursor: wait;
  }

  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid purple;
    animation: prixClipFix 2s linear infinite ;
    animation-delay: 2s;
    animation-iteration-count: 3;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  p a.btn {
    font-size: 1.2rem;
  }