
/* header */
header {
	background-color: #000120;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	max-height: 10rem;
	margin-bottom: 1.5rem;
	padding: 0;
	flex-wrap: wrap;
}

nav {
	width: 100%;
	height: 100%;
}
.header-logo
{
	position: relative;
	top: 0;
	width: 7rem;
	padding: 0;
	margin: 0;
}

.header-items ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	color: #4DFBE4;
	list-style: none;
	margin: 0;
}

.header-items ul li {
	text-decoration: none;
	position: relative;
	margin-right: 20px;
	font-family: 'Honk', sans-serif;
	font-weight: 200;
	font-size: 3rem;
	text-align: center;
}

header .header-items ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #4DFBE4;
	transform: scaleX(0);
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin: right center;
	font-size: 4em;
}

.header-items ul li a:hover::after {
	transform: scale(1);
	transform-origin: left center;
	transition-duration: 0.4s;
}
