.home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50rem;
    #marketing {
        color: white;
        font-family: $third-font;
    }
}