
/* CSS de la page stats */
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid purple;
}

th, td {
	padding: 10px;
}

th {
	letter-spacing: 2px;
}

td {
	letter-spacing: 1px;
}

tbody {
	background: url('../../images/neon.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
}

thead {
  background: url('../../images/neon.jpg');
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 2rem;
}


thead th {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border: 3px solid #D60092;
}

tbody td img {
	width: 100%;
	max-width: 13rem;
	border-radius: 15%;
}

#stats-container {
	text-align: center;
	font-family: 'Honk', sans-serif;
	font-size: 3rem;
}

#profile {
	display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vh;
    max-height: 10vh;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.4s;
	z-index: 3;
}

#profile.profil-open #profil-card {
    display: inline-flex;
}

#profil-card {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
  height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	cursor: none;
  flex-direction: column;
}

.carddd {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border-radius: 2%;
	background-color: #fff;
	max-width: 75%;
	max-height: 30rem;
  font-family: $fifth-font;
  font-size: 1.5rem;
  flex-wrap: wrap;
  overflow-y: scroll;
  color: $color-primary;
  ul {
    li {
      list-style: none;
      margin: 10px;
    }
  }
}

.user-profile-card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(5, 5, 5, 0.1);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 500px;
  }

.user-profile-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #777;
  border-radius: 2%;
}

.user-profile-card-title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.user-profile-card-image {
  object-fit: cover;
  margin: 1rem;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.user-profile-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.user-profile-card-username {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.user-profile-card-description {
  font-size: 14px;
  margin: 8px 0 0;
}

.user-profile-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: $second-font;
}

.user-profile-card .card-title {
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.user-profile-card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.user-profile-card-title {
  color: #333;
  margin: 0;
}

.user-profile-card-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.user-profile-card-body {
  padding: 5px;
}

.user-profile-card-username {
  margin: 0;
}

.user-profile-card-description {
  color: #999;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  padding: 5px;
    h4 {
      font-size: 1.7rem;
      font-family: $third-font;
      margin: 10px auto;
    }
}

.user-stats-tournaments, .user-stats-online {
  width: 45%;
}

.user-stats-tournament-details, .user-stats-online-details {
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  border-radius: 5px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      text-align: justify;
    }
  }
}