body {
    font-size: 62.5%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: purple;
    color: black;
    z-index: -1;
}

a:link,
a:visited,
a {
    text-decoration: none;
    cursor: pointer;
}
a,
p {
    margin: 0;
    padding: 0;
    text-align: center;
}