body {
    font-family: 'Roboto', Arial, Verdana, sans-serif;
}

h1{
    font-family: $third-font;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    width: 100%;
}
h2{
    font-family: $third-font;
    font-size: 3.5rem;
    font-weight: 900;
    margin: 1.5rem;
    padding: 0;
}
h3{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.title{
    font-family: $second-font;
}