
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<script src="{% static 'js/script.js' %}" defer></script>
	<title>Transcendence Pong 42</title>
</head>
<body>

<header class="header">
	<nav class="header-items">
		<ul>
			<li><a href="" onclick="goHome()">Accueil</a></li>
			<li><a href="" onclick="goGame()">Pong</a></li>
		</ul>
	</nav>
</header>

<content>

	<!-- Le script de la page actuelle ? -->

</content>

</body>
</html>