<div id="home-page"  class="home">

    <div class="card">
      <div class="home-profile-card-header">
        <h3 id="home-name" class="home-profile-card-title">Student 1</h3>
        <img id="home-img" class="home-profile-card-image" src="../static/images/tron.jpg" alt="Student 1 Image" style="width: 20rem">
      </div>
      <div class="home-profile-card-body">
        <h4 id="home-pseudo" class="home-profile-card-homename">Student 1 Name</h4>
        <p id="home-email" class="home-profile-card-description">A short description of Student 1...</p>
      </div>
    </div>

    <div class="card">
      <div class="home-profile-card-header">
        <h3 id="home-name" class="home-profile-card-title">Student 2</h3>
        <img id="home-img" class="home-profile-card-image" src="../static/images/tron.jpg" alt="Student 2 Image" style="width: 20rem">
      </div>
      <div class="home-profile-card-body">
        <h4 id="home-pseudo" class="home-profile-card-homename">Student 2 Name</h4>
        <p id="home-email" class="home-profile-card-description">A short description of Student 2...</p>
      </div>
    </div>

    <div class="card">
      <div class="home-profile-card-header">
        <h3 id="home-name" class="home-profile-card-title">Student 3</h3>
        <img id="home-img" class="home-profile-card-image" src="../static/images/tron.jpg" alt="Student 3 Image" style="width: 20rem">
      </div>
      <div class="home-profile-card-body">
        <h4 id="home-pseudo" class="home-profile-card-homename">Student 3 Name</h4>
        <p id="home-email" class="home-profile-card-description">A short description of Student 3...</p>
      </div>
    </div>

    <div class="card">
      <div class="home-profile-card-header">
        <h3 id="home-name" class="home-profile-card-title">Student 4</h3>
        <img id="home-img" class="home-profile-card-image" src="../static/images/tron.jpg" alt="Student 4 Image" style="width: 20rem">
      </div>
      <div class="home-profile-card-body">
        <h4 id="home-pseudo" class="home-profile-card-homename">Student 4 Name</h4>
        <p id="home-email" class="home-profile-card-description">A short description of Student 4...</p>
      </div>
    </div>

    <div class="card">
      <div class="home-profile-card-header">
        <h3 id="home-name" class="home-profile-card-title">Student 5</h3>
        <img id="home-img" class="home-profile-card-image" src="../static/images/tron.jpg" alt="Student 5 Image" style="width: 20rem">
      </div>
      <div class="home-profile-card-body">
        <h4 id="home-pseudo" class="home-profile-card-homename">Student 5 Name</h4>
        <p id="home-email" class="home-profile-card-description">A short description of Student 5...</p>
      </div>
    </div>
  </div>