// MIXINS RESPONSIVE
@mixin tablet {
    @media all and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media all and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin mobile-only {
    @media all and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
// MIXIN PADDINGS DESKTOP
@mixin padding-desktop($padding: $padding-desktop) {
    padding-left: $padding;
    padding-right: $padding;
}

//MIXINS CARDS
@mixin box-shadow($percent) {
    box-shadow: 0px 4px 7px 1px rgb(0, 0, 0, $percent);
}

@mixin layout-cards {
    border-radius: $border-radius-card;
    @include box-shadow(0.2);
    background-color: white;
}

// MIXIN FLEXBOX
@mixin flexbox($dir, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
//MIXIN POSITION
@mixin position($pos, $top, $right) {
    position: $pos;
    top: $top;
    right: $right;
}

// MIXIN TEXT-OVERFLOW
@mixin text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}