// PADDINGS
$padding-card: 3rem;
$padding-desktop: 2rem;
$padding-layout: 1rem;

// RESPONSIVE
$breakpoints: (
    tablet: 760px,
    desktop: 1200px,
    mobile: 550px,
);

// VARIABLES COULEURS
$color-primary: #000120;
$color-secondary: #D60092;
$color-tertiary: #4DFBE4;
$color-white: #fff;

$dark-grey: lighten(black, 20%);
$mid-grey: lighten(black, 70%);
$light-grey: lighten(black, 95%);

// VARIABLES LAYOUT CARDS
$border-radius-card: 2rem;

//FONT-FAMILY
$first-font: 'Honk', sans-serif;

@font-face {
	font-family: 'NationalCartoon';
	font-weight: 400;
	src: url("../fonts/NationalCartoon.ttf") format('truetype')
}
@font-face {
	font-family: 'neo-latina';
	font-weight: 700;
	src: url("../fonts/neo-latina-demo-FFP.ttf") format('truetype')
}

@font-face {
	font-family: 'cyberFont';
	font-weight: 300;
	src: url("../fonts/cyberFont.ttf") format('truetype')
}

@font-face {
	font-family: 'PublicPixel';
	font-weight: 500;
	src: url("../fonts/PublicPixel.ttf") format('truetype')
}

$second-font: 'NationalCartoon', sans-serif;
$third-font: 'neo-latina';
$fourth-font: 'cyberFont';
$fifth-font: 'PublicPixel';

// VARIABLES LAYOUT
$header-height: 1rem;
$background-body:  linear-gradient(
    to bottom,
    rgba(159, 83, 236, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("../../css/img/outrun-neon-dark-background-purple.png");

