
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="shortcut icon" type="image/ico" href="{% static 'images/faviconcartelgames.ico' %}"/>
	<link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/sass/style.css' %}" />

<link href="{% static 'css/sass/bootstrap/bootstrap.css' %}" rel="stylesheet">

<meta name="theme-color" content="#712cf9"><script src="{% static 'js/script.js' %}" defer></script>
	<script src="{% static 'js/chat.js' %}" defer></script>
	<title>CartelGames</title>
</head>
<body>
	{% csrf_token %}
<header>
	<div class="header-logo">
		<a href="#index" onclick="showDiv('index')"><img src="{% static 'images/cartelgames.jpeg' %}" alt="logo" title="logo du site" width="100%"></a>
	</div>
	<nav class="header-items">
		<ul>
			<li><a href="#index" onclick="showDiv('index')">Home</a></li>
			<li><a href="#games" onclick="showDiv('games')">Game</a></li>
			<li><a href="#stats" onclick="showDiv('stats')">Stats</a></li>
			{% if user.is_authenticated %}
			<li><a href="#profil" onclick="showDiv('profil')">My profile</a></li>
			{% else %}
			<li><a href="#login" onclick="showDiv('login')">Login</a></li>
			{% endif %}
		</ul>
	</nav>
</header>

<div class="content">
	<!-- index -->
	<div id="index" class="block">
		<h1>Welcome to our Transcendence !</h1>
		<div class="home">
			{% block home %}
				{% include 'home.html'%}
			{% endblock %}
		</div>
	</div>
<!-- import('/static/js/gametwo.js?ver=${Math.random()}'); -->
	<!-- game -->
	<div id="games" class="block">
		{% if user.is_authenticated %}
		<div class="game">
			<div id="ChooseGame">
				<h1>All Games</h1>
				<h2>Pong</h2>
				<div id="Local" class="butt"><button type="button" onclick="import('/static/js/game-local-1v1.js?ver=${Math.random()}'); displayDiv('ChooseGame', 'BackMenu');">Local 1v1</button></div>
				<div id="Local" class="butt"><button type="button" onclick="import('/static/js/game-local.js?ver=${Math.random()}'); displayDiv('ChooseGame', 'BackMenu');">Local vs IA</button></div>
				<div id="JoinQueue" class="butt"><button type="button">1 v 1 [RANKED]</button></div>
				<div id="2v2" class="butt"><button type="button">2 v 2</button></div>
				<div id="Tournament" class="butt"><button type="button" onclick="displayDiv('ChooseGame', 'ChooseTour');">Tournament</button></div>
				<h2>Tron</h2>
				<div id="TronQueue" class="butt"><button type="button" onclick="displayDiv('ChooseGame');">1 v 1</button></div>
			</div>
			<div id="BackMenu" style="display:none;">
				<div class="butt"><button2 type="submit" onclick="window.location.reload();">Back to menu</button></div>
			</div>
			<div id="LeaveQueue" class="butt" style="display:none;"><button type="button">Leave the queue</button></div>
			<div id="ChooseTour" style="display:none;">
				<div id="CreateTour" class="butt"><button type="button" onclick="displayDiv('ChooseTour', 'FormTour');">Create tournament</button></div>
				<ul id="TournamentsList"></ul>
				<div id="BackGames" class="butt">
					<div id="refreshTourList"><button type="submit" style="margin-right: 25px;">Refresh</button></div>
					<button2 type="submit" onclick="displayDiv('ChooseTour', 'ChooseGame');">Back</button2>
				</div>
			</div>
			<div id="InfoTour" style="display:none;">
				<div id="InfoTourUpdate">
				</div>
				<p id="error-tour" style="text-align: center; color: red;"></p>
				<div class="butt"><button2 type="submit" onclick="displayDiv('InfoTour', 'ChooseTour');">Back</button2></div>
			</div>
			<div id="FormTour" style="display:none;">
				<h1>Create a Tournament</h1>
				<form id="FormCreateTour" enctype="multipart/form-data" action="{% url 'createTour' %}" method="post">
					<input type="hidden" name="type" value="createTour">
					<input type="hidden" name="delete" value="false">
					<label for="tourName">Tournament name :</label>
					<input type="text" id="tourName" name="tourName" required>
					<div id="error-form" class="error-form"></div>
					<div class="butt"><button type="submit" onclick="sendForm('FormCreateTour', event)">Create</button></div>
					<div class="butt"><button2 type="submit" onclick="displayDiv('FormTour', 'ChooseTour')">Back</button></div>
				</form>
			</div>
			<p id="Msg"></p>
			<canvas id="game" class="game"></canvas>
		</div>
		{% else %}
		<h3>You need to be logged in for play!</h3>
		{% endif %}
	</div>

	<!-- stats -->
	<div id="stats" class="block">
		<div class="stats-container" id="stats-container">
			<h2>Stats of players</h2>
			<div id="profile">
				{% block content %}
					{% include 'profile.html'%}
				{% endblock %}
			</div>
			<table id="stats-users-table">
				<thead>
					<tr>
					  <th scope="col">Nickname</th>
					  <th scope="col">Avatar</th>
					  <th scope="col">Games played</th>
					  <th scope="col">Win rate ( % )</th>
					</tr>
				  </thead>
				<tbody id="stats-users-container">
				
				</tbody>
			</table>
		</div>
	</div>

	<!-- login -->
	<div id="login" class="block">
		<div class="form-container">
			{% if user.is_authenticated %}
			<h2>You are already logged in !</h2>
			{% else %}
			<h2>Login</h2>
			<iframe name="login" style="display:none;"></iframe>
			<form id="loginForm" enctype="multipart/form-data" action="{% url 'login' %}" method="post">
				<input type="hidden" name="type" value="login">
				<label for="username">Username :</label>
				<input type="text" id="username" name="username" required>
				<label for="password">Password : </label>
				<input type="password" id="password" name="password" required>
				<label><a href="#signup" onclick="showDiv('signup')">Click here to signup!</a></label>
				<div class="butt"><button type="submit" onclick="sendForm('loginForm', event)">Login</button></div>
				<div id="error-form" class="error-form"></div>
			</form>
			{% endif %}
		</div>
	</div>

	<!-- signin -->
	<div id="signup" class="block">
		<div class="form-container">
			{% if user.is_authenticated %}
			<h2>You are already logged in !</h2>
			{% else %}
			<h2>Signup</h2>
			<iframe name="signup" style="display:none;"></iframe>
			<form id="signupForm" enctype="multipart/form-data" action="{% url 'signup' %}" method="post">
				<input type="hidden" name="type" value="signup">
				<label for="signup-username">Username :</label>
				<input type="text" id="signup-username" name="username" required>
				<label for="signup-pseudo">Nickname :</label>
				<input type="text" id="signup-pseudo" name="pseudo" required>
				<label for="signup-email">Email :</label>
				<input type="email" id="signup-email" name="email" required>
				<label for="signup-pass">Password : </label>
				<input type="password" id="signup-pass" name="password1" required>
				<label for="signup-pass-repeat">Repeat password : </label>
				<input type="password" id="signup-pass-repeat" name="password2" required>
				<div class="butt"><button type="submit" onclick="sendForm('signupForm', event)">Signup</button></div>
				<div id="error-form" class="error-form"></div>
			</form>
			{% endif %}
		</div>
	</div>

	<!-- profil -->
	<div id="profil" class="block profil">
		<div class="form-container">
			<h2>My profile</h2>
			<form id="profilImg" enctype="multipart/form-data" action="{% url 'profilImg' %}" method="post">
				<input type="hidden" name="type" value="profilImg">
				<label for="profil-img" class="profil-img">
					<img id="img" src="{{ user.profil_img.url }}" alt="Profil Image" class="img-profil">
					<img class="overlay">
				</label>
				<input type="file" id="profil-img" name="profil_img" style="display: none;" accept="image/*">
				<div id="error-form" class="error-form"></div>
			</form>
			<form id="newPseudoForm" enctype="multipart/form-data" action="{% url 'newPseudo' %}" method="post">
				<label for="pseudo change">New nickname:</label>
				<input type="hidden" name="type" value="newPseudo">
				<input type="text" id="pseudo" name="pseudo" required>
				<div class="butt"><button type="submit" onclick="sendForm('newPseudoForm', event)">Validate</button></div>
			</form>
			<p id="username"></p>
			<p id="pseudo"></p>
   			<p id="email"></p>
			<form id="profilForm" enctype="multipart/form-data" action="{% url 'logout' %}" method="post">
				<input type="hidden" name="type" value="logout">
				<div class="butt"><button2 type="submit" onclick="sendForm('profilForm', event)">Logout</button></div>
				<div id="error-form" class="error-form"></div>
			</form>
		</div>
	</div>


	{% if user.is_authenticated %}
	<!-- chat -->
	<div id="chat" class="">
		<div id="chat-toggle" class="chat-toggle">
			<p>Friends list</p>
		</div>
		<div id="chat-content" class="chat-content">
			<div id="main-friends">
				<div id="friend">
					<a class="list-friends active" onclick="displayDiv('blocked-friends', 'friend')">Friends</a>
					<a class="list-friends" onclick="displayDiv('friend', 'blocked-friends')">Blocked</a>
					<p id="friends"></p>
					<div class="butt friend"><button type="submit" onclick="displayDiv('main-friends', 'add-friend')">Add a friend</button></div>
				</div>
				<div id="blocked-friends" style="display: none;">
					<a class="list-friends" onclick="displayDiv('blocked-friends', 'friend')">Friends</a>
					<a class="list-friends active" onclick="displayDiv('friend', 'blocked-friends')">Blocked</a>
					<p id="error-block"></p>
					<p id="blocked-friend"></p>
				</div>
			</div>
			<div id="add-friend" style="display: none;">
				<form id="addFriendForm" enctype="multipart/form-data" action="{% url 'addFriend' %}" method="post">
					<input type="hidden" name="type" value="addFriend">
					<input type="hidden" name="delete" value="false">
					<label for="addfriendName">Friend name :</label>
					<input type="text" id="addfriendName" name="addfriendName" required>
					<div id="error-form" class="error-form"></div>
					<div class="butt"><button type="submit" onclick="sendForm('addFriendForm', event)">Add</button></div>
					<div class="butt"><button2 type="submit" onclick="displayDiv('add-friend', 'main-friends'), loadFriends();">Back</button></div>
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	
</div>
	<input type="hidden" id="image-url" value="{% static 'images/neon.jpg' %}">
	<script type="importmap">
		{
		  "imports": {
			"three": "https://unpkg.com/three@0.153.0/build/three.module.js",
			"three/addons/": "https://unpkg.com/three@0.153.0/examples/jsm/"
		  }
		}
	</script>   
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/stats.js@0.17.0/build/stats.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
		<!-- <script type="module" src="{% static 'js/game.js' %}"></script> -->
		<script type="module" src="{% static 'js/queue.js' %}"></script>
	</body>
</html>