<div id="profil-card"  class="user-profile-card profil">
  <h2 class="card-title">Avanced Stats</h2>
  <div class="carddd">
    <div class="user-profile-card-header">
      <div class="user-profile-card-header">
        <h3 id="user-name" class="user-profile-card-title">User Profile</h3>
        <img id="user-img"  class="user-profile-card-image" src="user-image.jpg" alt="User Image">
      </div>
      <div class="user-profile-card-body">
        <h4 id="user-pseudo" class="user-profile-card-username">John Doe</h4>
        <p  id="user-email" class="user-profile-card-description">A short description of John Doe...</p>
      </div>
    </div>
    <div class="user-stats">
      <div class="user-stats-tournaments">
        <h4 id="stats-tournament-title">Tournament Stats</h4>
        <div id="user-stats-tournament" class="user-stats-tournament-details">A short description of John Doe...</div>
      </div>
      <div class="user-stats-online">
        <h4 id="stats-online-title">Online Stats</h4>
        <div id="user-stats-online" class="user-stats-online-details">A short description of John Doe...</div>
      </div>
    </div>
  </div>
</div>


